#game {
    text-align: center;
}

#board {
    display: inline-block;
}
#board table {
    padding: 0.5vh;
    border: 0.65vh skyblue solid;
    border-radius: 2vh;
}
#board table table {
    border: 0.125vh lightblue dashed;
    border-radius: 0;
}
#board table tr:nth-child(1) td table {
    border-top: none;
}
#board table tr:nth-child(3) td table {
    border-bottom: none;
}
#board table tr td:nth-child(1) table {
    border-left: none;
}
#board table tr td:nth-child(3) table {
    border-right: none;
}

#tileView {
    text-align: center;
    display: inline-block;
    vertical-align: top;

    padding: 2vh;
    border: 0.65vh skyblue solid;
    border-radius: 2vh;
}

div.tile {
    margin: 0.25vh;
    padding: 0.25vh;
    border: 0.5vh transparent solid;
    border-radius: 1vh;
    text-align: center;
}

.tile * {
    width: 7vh;
    height: 7vh;
}

img.tile {
    display: block;
    margin: auto;
    padding: 0;

    background-size: cover;
    background-position: center;
}

.tile.clickable {
    border-color: dodgerblue;
    border-style: dashed;
}
.clickable:hover {
    cursor: pointer;
    border-color: red;
    border-style: solid;
}
.clickable:active {
    border-style: dashed;
}
.clickable:focus {
    border-color: red;
}

table {
    /* border-collapse: collapse; */
    border-spacing: 0;
}

td {
    padding: 0;
}

td * {
    margin: auto;
}

div {
    margin: 0.5vh;
}
