#board {
    display: inline-block;
}

#tileView {
    display: inline-block;
    vertical-align: top;

    border: 0.25vw lightblue solid;
    border-radius: 1vw;
}

/* #mainArea {
    padding: 1vw;
} */

.tile {
    display: block;
    width: 5vw;
    height: 5vw;
    margin: 0.25vw;
    padding: 0;

    background-size: cover;
    background-position: center;

    border: 0.25vw white solid;
    border-radius: 1vh;
}

.tile.clickable {
    border-color: lightblue;
    border-style: dashed;
}
.clickable:hover {
    cursor: pointer;
    border-color: red;
    border-style: solid;
}
.clickable:focus {
    border-color: red;
    border-style: double;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    border: 0.125vw gray solid;
}

td * {
    margin: auto;
}

div {
    margin: 0.5vw;
}