#board {
    display: inline-block;
}

#tileView {
    text-align: center;
    display: inline-block;
    vertical-align: top;

    padding: 1vw;
    border: 0.25vw lightblue solid;
    border-radius: 1vw;
}

div.tile {
    margin: 0.125vw;
    padding: 0.125vw;
    border: 0.25vw white solid;
    border-radius: 1vh;
    text-align: center;
}

img.tile {
    display: block;
    margin: auto;
    padding: 0;

    width: 6vw;
    height: 6vw;

    background-size: cover;
    background-position: center;
}

.tile.clickable {
    border-color: dodgerblue;
    border-style: dashed;
}
.clickable:hover {
    cursor: pointer;
    border-color: red;
}
.clickable:focus {
    border-color: red;
    border-style: solid;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0;
    border: 0.125vw lightgray solid;
}

td * {
    margin: auto;
}

div {
    margin: 0.5vw;
}
